
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #1f242d;
    color: #fff;
}

a {
    color: #fff;
    text-decoration: none;
}

/* Navigation Bar */
.navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 25px 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(31, 36, 45, 0.9);
    z-index: 100;
}

.navbar ul {
    display: flex;
}

.navbar .logo {
    font-size: 30px;
    font-weight: 700;
}

.navbar ul li {
    list-style: none;
    margin-left: 35px;
}

.navbar ul li a {
    font-size: 20px;
    font-weight: 500;
    transition: 0.5s;
}

.navbar ul li:hover a,
.navbar ul li.active a {
    color: #7cf03d;
}

/* Home Section */
.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    padding: 60px 9% 0;
}

.home-info {
    flex: 1;
}

.home-info h1 {
    font-size: 55px;
}

.home-info h2 {
    font-size: 32px;
    margin-top: -10px;
}

.home-info p {
    font-size: 16px;
    margin: 10px 0 25px;
}

.btn-sci {
    display: flex;
    align-items: center;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    background: #7cf03d;
    border: 2px solid #7cf03d;
    border-radius: 40px;
    box-shadow: 0 0 10px #7cf03d;
    font-size: 16px;
    color: #1f242d;
    font-weight: 600;
    transition: 0.5s;
}

.btn:hover {
    background: transparent;
    color: #7cf03d;
    box-shadow: none;
}

/* Social Icons */
.sci {
    margin-left: 20px;
}

.sci a {
    display: inline-flex;
    padding: 8px;
    border: 2px solid #7cf03d;
    border-radius: 50%;
    font-size: 20px;
    color: #7cf03d;
    margin: 0 8px;
    transition: 0.5s;
}

.sci a:hover {
    background: #7cf03d;
    color: #1f242d;
    box-shadow: 0 0 10px;
}

/* Image Box */
.home-img {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.img-box {
    width: 300px;
    height: 300px;
    background: #7cf03d;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 15px rgba(124, 240, 61, 0.6);
    
}

.img-box img {
    width: 67%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
